/* ============================================================================
  Pagination
============================================================================== */

.pagination {
  text-align: center;

  > span {
    display: inline-block;
    line-height: 1;
  }

  a,
  .page.current {
    padding: 8px;
  }
}
