<div class="pagination" aria-label="Pagination">
  {{ paginate | default_pagination | replace: '&laquo; Previous', '<span aria-label="Go To Previous Page">&larr;</span>' | replace: 'Next &raquo;', '<span aria-label="Go To Next Page">&rarr;</span>' }}
</div>
