/* ============================================================================
  Quantity selector
============================================================================== */

.quantity-selector {
  position: relative;
  max-width: 120px;
  margin: 5px 0;
  color: $color-drawer-background;

  input {
    width: 100%;
    appearance: textfield;
    text-align: center;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    appearance: none;
  }

  button {
    position: absolute;
    top: 50%;
    display: inline-block;
    padding: 5px;
    line-height: 0;
    transform: translateY(-50%);

    .icon {
      color: $color-drawer-background;
    }
  }

  svg path {
    fill: $color-drawer-background;
  }
}

.quantity-selector__minus {
  left: 5px;
}

.quantity-selector__plus {
  right: 5px;
}
