/* ============================================================================
  Collection item
============================================================================== */

.collection__item {
  margin-bottom: 20px;

  h4 {
    margin-bottom: 0;
    font-size: calc-rem(20px);
  }

  p {
    margin-bottom: 0;

    s {
      margin-left: 5px;
    }
  }
}
